.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 40px;
  padding: 12px 15px;

  @media (min-width: 768px) {
    padding: 12px 45px;
  }

  @media (min-width: 1366px) {
    padding: 12px 98px;
  }

  &__logo {
    width: 50px;

    @media (min-width: 768px) {
      width: 60px;
    }

    img {
      width: 46px;
      height: 38px;

      @media (min-width: 768px) {
        width: 63px;
        height: 52px;
      }
    }
  }
  &__burder-button {
    position: relative;
    justify-self: end;
    width: 50px;

    img {
      position: absolute;
      top:50%;
      left:50%;
      transform:translate(-50%, -50%);

      width: 22px;
      height: 14px;
    }

    border: none;
    background: none;

    @media (min-width: 768px) {
      display: none;
    }
  }

  &__contacts {
    display: none;

    &--active {
      display: block;

      font-size: 16px;
      line-height: 19px;

      .header__phone-contact {
        margin: 15px 0 25px 0;
        padding: 0;
      }

      .contacts__social-button {
        margin-right: 20px;
      }
    }
  }

  &--active {
    padding-bottom: 188px;

    background: #FAC663;
  }
}

.main-menu {
  display: none;

  @media (min-width: 768px) {
    display: grid;
  }

  &__list {
    padding-left: 0px;

    list-style: none;

    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 100px 50px 50px 120px;
      grid-column-gap: 30px;
      justify-content: end;
    }
  }

  &__item {
    justify-self: center;

    font-size: 16px;
    line-height: 19px;
  }

  &__link {
    text-decoration: none;
    color: #1A212F;
  }

  &--active {
    display: flex;
    flex-direction: column;

    .main-menu__list {
      margin: 0;
    }

    .main-menu__item {
      margin-bottom: 25px;

      &:first-of-type {
        margin-top: 50px;
      }
    }

    .main-menu__link {
      font-size: 20px;
      line-height: 24px;
      font-weight: bold;
    }
  }
}
