.main-content {
  margin: 0px 15px;

  &__header {
    margin-bottom: 40px;

    font-size: 28px;
  }
}

.catalog-section {
  &__filters {
    display: flex;
    margin-bottom: 30px;
  }

  &__input-label {
    margin-right: 25px;
    padding: 10px 15px;   //** FIX ME **
  }

  &__select-input {
    padding: 12px 15px;

    border: none;
    background: none;
  }

  &__number-card {
    width: 290px;
  }
}

.card {
  display: grid;

  border: 1px solid #E1E1E1;

  &__picture {
    margin-bottom: 25px;
  }

  &__title {
    margin: 0px 0px 20px 25px;

    font-size: 20px;
  }

  &__text {
    margin: 0px 0px 25px 25px;
    line-height: 25px;
  }

  &__price {
    margin-left: 5px;

    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
  }

  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0px 25px 25px 25px;

    padding: 10px 20px; // ** FIX ME **
    color: #FFFEFD;

    background-color: #FF7236;
    border: 1px solid #FF7236;
    border-radius: 25px;
  }
}