.main-content {
  display: grid;
  padding: 0px 15px;

  @media (min-width: 768px) {
    padding: 0px 45px;
  }

  @media (min-width: 1366px) {
    grid-template-columns: 250px 1fr;
    padding: 0px 98px;
  }

  &__filters-wrapper {
    display: grid;
    margin-bottom: 30px;

    @media (min-width: 768px) {
      margin-bottom: 40px;
      grid-template-columns: 1fr 1fr;
    }
    @media (min-width: 1366px) {
      grid-column: 1 / 3;
      margin-bottom: 50px;
    }
  }

  &__title {
      margin-bottom: 40px;
      margin-top: 0px;

      font-family: 'Rubik', sans-serif;
      font-size: 28px;
      line-height: 33px;
      font-weight: 700;

      @media (min-width: 330px) {
        text-align: center;
      }

      @media (min-width: 768px) {
        font-size: 36px;
        line-height: 43px;
        text-align: justify;
      }
  }

  &__cat-card {
    display: grid;
    justify-self: center;
    margin-bottom: 40px;

    @media (min-width: 660px) {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 20px;
    }

    @media (min-width: 768px) {
      grid-column-gap: 30px;
    }

    @media (min-width: 1366px) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-row-start: 2;
    }
  }

  &__promo-section {
    margin-bottom: 70px;
  }
}

.filters {
  display: grid;
  grid-template-columns: 111px 154px;
  grid-column-gap: 25px;
  justify-content: end;
  justify-items: center;
  padding-top: 10px;

  @media (min-width: 1366px) {
    grid-template-columns: 1fr;
    justify-items: end;
  }

  &__filter-button {
    padding: 5px 15px;
    width: 111px;
    height: 35px;

    border: none;
    background: none;

    @media (min-width: 1366px) {
      display: none;
    }

    span {
      font-size: 14px;
      line-height: 17px;
      vertical-align: top;
    }
  }

  &__select {
    padding: 5px 15px;
    width: 154px;
    height: 35px;

    border: none;
    background: none;
    box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18);
    border-radius: 25px;
  }
}
